.cntr {
  width: 40vw !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  /* height:60vh; */
  /* background-color: white; */
}

.frm {
  width: 100%;
  padding: 20px;
  border-radius: 17px;
  background-color: whitesmoke;
  /* background-color: white !important; */
  box-shadow: 5px 5px 10px gray;
  /* color:rgb(79, 79, 194); */
}

.h2 {
  color: rgb(52, 122, 191);
}

.checkBox>label{
  /* background-color: red; */
  margin-right:1em ;
}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .cntr {
    width: 90% !important;
  }
  .cntr select {
    /* background-color: red!important; */
    width: 100% !important;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .cntr {
    width: 90% !important;
  }
  .cntr select {
    /* background-color: red!important; */
    width: 100% !important;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .cntr {
    width: 70% !important;
  }
  .cntr select {
    /* background-color: red!important; */
    width: 100% !important;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
